<footer class="mt-3 text-muted">
    <a href="https://mf-chan.com" class="text-decoration-none text-muted">Mfc</a> &copy;
    <%= (new Date().getFullYear() > 2024) ? ('2024 - ' + new Date().getFullYear()) : '2024' %>
</footer>

<script src="/static/@highlightjs/cdn-assets/highlight.min.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/res/script.js"></script>