<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        <%= app_name %>
    </title>
    <link rel="icon" href="/res/tiger.png">
    <link rel="stylesheet" href="/res/style.css">

    <script src="/static/alpinejs/dist/cdn.min.js" defer></script>
</head>

<body class="d-flex flex-column justify-content-center align-items-center" x-data="alpineData" x-init="alpineInit()">

    <!-- Photo by Amélie Rec on Pexels -->
    <!-- https://www.pexels.com/photo/grayscale-photo-of-tiger-lying-on-ground-3860030/ -->
    <div class="app-image mb-2 rounded-circle shadow-sm"></div>

    <h1 class="my-3">
        <%= app_name %>
    </h1>

    <div class="text-center">Wanna start using this auth service?</div>
    <div class="text-center">Check the <a href="/documentation">documentation</a> first!</div>

    <%- include('./footer.ejs'); %>
</body>

</html>