<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        <%= app_name %>
    </title>

    <link rel="icon" href="/res/favicon.svg">
    <link rel="stylesheet" href="/res/global-style.css">

    <script src="/static/alpinejs/dist/cdn.min.js" defer></script>
</head>

<body class="d-flex flex-column justify-content-center align-items-center" x-data="alpineData" x-init="alpineInit()">
    <h1 class="my-4">
        <%= app_name %>
    </h1>

    <div>Wanna start using this auth service?</div>
    <div>Check the <a href="/documentation">documentation</a> first!</div>

    <%- include('./footer.ejs'); %>
</body>

</html>